extends layout

block content
    div.container-fluid
        h4= title
        table.table.table-condensed.table-responsive.table-striped
            tbody
                each content in contents
                    tr.small
                        td
                            span= content.title
                        td
                            span= content.value